@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Work Time Tracking</h1>
    <p>Manage your employees' work intervals.</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Employee")">Employee List</a>
    <br /><br />
    <a class="btn btn-info btn-sm" href="@Url.Action("Description", "Home")">Application Description (Please read)</a>
</div>
